__pycache__/
*.py[cod]
.DS_Store

.venv/
env/

result/
*.pt
*.pth
*.pkl
*.npy
*.npz
*.csv
*.log
*.log.caffeinate
*_latest_result_root.txt

ML-20M/data/*
!ML-20M/data/readme.txt
Amazon VG/data/*
!Amazon VG/data/readme.txt
